# Ignore local terraform provider binaries and cache
.terraform/

# Ignore local secret tfvars files
*.tfvars
!*.tfvars.example

# Terraform Crash Logs & Overrides
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Operating System & IDE Artifacts
.DS_Store
.idea/
.vscode/
*.swp
*.tmp
